@import "../../../../../../styles/variables";

.item {
  display: flex;
  align-items: center;
  z-index: 10;
  margin-bottom: 0.625rem;

  :not(:last-child) {
    margin-right: 1.257em;
  }

  &_img {
    width: 2.375rem;
    height: 2.375rem;
    border-radius: 50%;
    box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    align-items: center;

    background-color: var(#{--svg-background-default});

    svg {
      width: 1.525rem;
      height: 1.525rem;
    }
  }

  &_type {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 0.823em;
    text-align: right;
    color: #939cb0;
  }

  &_info {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.123em;
    color: var(#{--text-color-default});
  }

  @media (max-width: 730px) {
    margin-bottom: 0.825rem;
  }
}
