@import "./src/styles/variables";

.item {
  display: flex;
  align-items: center;

  &_img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    box-shadow: 1px 4px 10px -1px rgba(71, 147, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(#{--svg-background-default});
  }

  &_type {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #939cb0;
  }

  &_info {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(#{--text-color-default});
  }

  :not(:last-child) {
    margin-right: 20px;
  }
}
