@import "../../../../../styles/variables";

.block {
  font-size: 5.4rem;
  flex: 35%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(#{--components-background-default});

  box-shadow: $box-shadow;
  border-radius: 0.208em;
  padding: 0.208em;
  margin-right: 0.520em;

  @media (max-width: 980px) {
    font-size: 5rem;
  }

  @media (max-width: 730px) {
    margin-right: 0;
    margin-bottom: 0.32em;
  }
}

.top {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.322em;

  @media (max-width: 980px) {
    margin-bottom: 0.15em;
  }
}

.degrees {
  font-weight: 500;
  line-height: 1.218em;
  color: $blueberry;
}

.day {
  font-size: 0.416em;
  line-height: 1.225em;
  color: var(#{--text-color-default});
}

.bottom {
  display: flex;
  flex-direction: column;

  :not(:last-child) {
    margin-bottom: 0.570em;

    @media (max-width: 980px) {
      margin-bottom: 0.27em;
    }
  }
}

.info {
  font-size: 0.260em;
  line-height: 1.2em;
  color: $cadet-grey;
}

.weather_picture {
  width: 1.039em;
  height: 1.039em;
  top: 0.208em;
  right: 0.208em;
  position: absolute;

  @media(max-width: 730px) {
    width: 1.279em;
    height: 1.279em;
  }

  @media(max-width: 730px) {
    width: 1.12em;
    height: 1.12em;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
