@import "../../../../styles/variables";

.wrapper {
  display: flex;
  margin-bottom: 2.187rem;

  @media(max-width: 600px) {
    display: block;
    margin-bottom: 1.387rem;
  }
}

.this_day_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 65%;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  padding: 2.625rem 2rem;
  background-color: var(#{--components-background-default});
  position: relative;
  overflow: hidden;

  :last-child {
    margin-bottom: 0;
  }

  &_background_img {
    position: absolute;
    width: 29.376rem;
    height: 12.025rem;
    right: 0;
    top: 0;
    z-index: 10;
  }

  @media (max-width: 670px) {
    padding: 1.825rem 1.6rem;
  }
}
