@import "../../../../styles/variables";

.wrapper {
  display: flex;
  margin-bottom: 2.187rem;

  @media (max-width: 980px) {
    margin-bottom: 1.687rem;
  }

  @media (max-width: 730px) {
    display: block;
    margin-bottom: 1.387rem;
  }
}

.this_day_info {
  flex: 65%;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  padding: 2.625rem 2rem;
  background-color: var(#{--components-background-default});
  position: relative;
  overflow: hidden;

  @media (max-width: 980px) {
    padding: 2.125rem 1.8rem;
  }

  @media (max-width: 670px) {
    padding: 1.825rem 1.6rem;
  }

  &_items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    :last-child {
      margin-bottom: 0;

      @media (max-width: 729px) {
        margin-bottom: 0;
      }
    }
  }

  &_background_img {
    position: absolute;
    width: 29.376rem;
    height: 12.025rem;
    right: 0;
    top: 0;

    @media (max-width: 1000px) {
      width: 23.476rem;
      height: 9.325rem;
    }

    @media (max-width: 550px) {
      width: 17.076rem;
      height: 7.825rem;
    }
  }
}
