@import "./src/styles/variables";

.wrapper {
  display: flex;
  margin-bottom: 35px;
}

.this_day_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 65%;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  padding: 42px 32px;

  background: url("../../../../images/home/thisDayStatistics/cloud.png")
    no-repeat top right var(#{--components-background-default});
}
