@import "../../styles/variables";

.button {
  font-size: 1.125rem;
  line-height: 1.375em;

  padding: 0.44em 1.11em;
  background-color: var(#{--components-background-default});
  box-shadow: $box-shadow;
  border-radius: 0.27em;
  transition: $transition-03;
  color: var(#{--text-color-default});

  &.active {
    background: #4793ff;
    color: #ffffff;
  }

  &:hover {
    background: $blueberry;
    color: $lite-background;
  }
}
