@import "../../../../../styles/variables";

.list {
  box-shadow: var(#{--card-shadow-default});
  border-radius: $border-radius;
  background-color: var(#{--components-background-default});

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.875rem;
  padding: 1.25rem;

  @media(max-width: 678px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
