@import "./src/styles/variables";

.modal {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;

  &_body {
    width: 46.875rem;
    position: relative;
    background-color: var(#{--components-background-default});
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    border-radius: 1.25rem;

    padding: 2.625rem;
    display: flex;
    justify-content: space-between;
  }

  &_this_day_wrapper {
    display: flex;
    flex-direction: column;
    flex: 35%;
    justify-content: space-between;
    background-color: var(#{--components-background-default});
    margin-right: 3.125rem;
  }

  &_left {
    display: flex;
    flex-direction: column;
    margin-right: 2.812rem;

    svg {
      width: 53px;
      height: 53px;
      margin-bottom: 12px;
    }
  }

  &_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_close_btn {
    width: 1.125rem;
  }

  &_degrees {
    font-weight: 500;
    font-size: 3.75rem;
    line-height: 1.21em;
    color: $blueberry;
  }

  &_day {
    font-weight: 400;
    font-size: 1.5625rem;
    line-height: 1.2em;
    color: var(#{--text-color-default});
    margin-bottom: 0.48em;
  }

  &_weather_picture {

  }

  &_bottom_info {
    font-size: 0.9375rem;
    line-height: 1.2em;
    color: #939cb0;

    display: flex;
    flex-direction: column;
  }
}

.btn_close {
  position: absolute;
  right: 20px;
  top: 20px;
}
